<% layout('layout.ejs') %>

    <!-- MAIN -->
    <div id="main">

        <!-- HEADER -->
        <div id="header">
            <div id="page-title">Перший</div>
            <!-- Breadcrumb-->
            <div id="breadcrumbs">
                Ви знаходитесь:
                <a title="Home" href="#">Головна</a> &raquo;
                <a title="Features" href="#">Флешмоби</a> &raquo;
                <a title="Features" href="#">Перший</a>
            </div>
            <!-- ENDS Breadcrumb-->
        </div>
        <!-- ENDS HEADER -->

        <!-- CONTENT -->
        <div id="content">

            <!-- PAGE CONTENT -->
            <div id="page-content">

                <!-- Single post -->
                <div class="post single">
                    <h1><%-flashmob.title%></h1>
                    <!-- meta -->
                    <ul class="meta">
                        <li>Від <a href=<%-"/users/"+organizer.id%>><%-organizer.login%></a>,&nbsp;</li>
                        <li> <%- flashmob.start_datetime%> &nbsp;</li>
                        <li> в <a href="#">м. Київ,?????</a>&nbsp;</li>
                        <li> <%- flashmob.status%>,&nbsp;</li>
                        <li> 10 коментарів??????&nbsp;</li>
                    </ul>
                    <!-- ENDS meta -->
                    <!-- feature image -->
                    <div class="feature-image">
                        <img src="/img/dummies/584x300.jpg" alt="Feature image" />
                    </div>
                    <!-- ENDS feature image -->
                    <!-- single post -->
                    <div class="the-content">
                        <%- flashmob.full_description%>
                    </div>
                </div>
                <!-- ENDS single post -->
                <!-- toggle -->
                <h5 class="toggle-trigger custom"><a href="#">Етапи</a></h5>
                <div class="toggle-container">
                    <div class="block">

                        <!-- toggle -->
                        <h5 class="toggle-trigger custom"><a href="#">Етап І</a></h5>
                        <div class="toggle-container">
                            <div class="block">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. </p>

                            </div>
                        </div>
                        <h5 class="toggle-trigger custom"><a href="#">Етап ІІ</a></h5>
                        <div class="toggle-container">
                            <div class="block">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. </p>
                            </div>
                        </div>
                        <h5 class="toggle-trigger custom"><a href="#">Етап ІІІ</a></h5>
                        <div class="toggle-container">
                            <div class="block">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. </p>
                            </div>
                        </div>
                        <p class="clear"></p>
                        <!-- ENDS toggle -->

                    </div>
                </div>
                <h5 class="toggle-trigger custom"><a href="#">Фотографії</a></h5>
                <div class="toggle-container">
                    <div class="block">
                        <!-- img gallery -->
                        <div>
                            <ul class="blocks-gallery">
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                                <li><a href=/img/dummies/584x300.jpg" class="border fancybox" title="An image"><img src="/img/dummies/114x86.jpg" alt="Post" /></a></li>
                            </ul>
                        </div>
                        <!-- ENDS img gallery -->
                    </div>
                </div>
                <h5 class="toggle-trigger custom"><a href="#">Документи</a></h5>
                <div class="toggle-container">
                    <div class="block">
                        <ul>
                            <li><a href="#">Документ 1</a></li>
                            <li><a href="#">Документ 2</a></li>
                            <li><a href="#">Документ 3</a></li>
                        </ul>
                    </div>
                </div>
                <h5 class="toggle-trigger custom"><a href="#">Карта події</a></h5>
                <div class="toggle-container">
                    <div class="block">
                        <!-- feature image -->
                        <div class="map-image">
                            <a href="#"><img src="/img/dummies/map.jpg" alt="Feature image" /></a>
                        </div>
                        <!-- ENDS feature image -->
                    </div>
                </div>
                <h5 class="toggle-trigger custom"><a href="#">Учасники</a></h5>
                <div class="toggle-container">
                    <div class="block">
                        <!-- TABS -->
                        <!-- the tabs -->
                        <ul class="tabs">
                            <li><a href="#">Організатор</a></li>
                            <li><a href="#">Модератори</a></li>
                            <li><a href="#">Усі учасники</a></li>
                            <li><a href=<%-"/flashmobs/"+flashmob.id+"/in"%>>Взяти участь</a></li>
                        </ul>

                        <!-- tab "panes" -->
                        <div class="panes">
                            <!-- organizer -->
                            <div>
                                <!-- table -->
                                <table>
                                    <tbody>
                                        <tr>
                                            <td><a href=<%-"/users/"+organizer.id%> class='url'><img alt='avatar' src='/img/dummies/avatar.jpg' class='avatar' /><%-organizer.login%></a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- ENDS table -->
                            </div>
                            <!-- ENDS organizer -->

                            <!-- moderators -->
                            <div>
                                <!-- table -->
                                <table>
                                    <tbody>
                                        <% for(var i = 0; i < members.length; i++) {
                                                if(members[i].type == "modertor"||members[i].type == "main_modertor"){
                                                    if(i % 4 == 0)
                                                        {%><tr><%}
                                        %>
                                        <td><a href=<%- '/users/'+members[i].id%> class='url'><img alt='avatar' src='/img/dummies/avatar.jpg' class='avatar' /><br><%-members[i].login%></a></td>
                                        <%
                                                    if(i % 4 == 3)
                                                        {%></tr><%}
                                        }}%>
                                    </tbody>
                                </table>
                                <!-- ENDS table -->
                            </div>
                            <!-- ENDS moderators -->

                            <!-- users -->
                            <div>
                                <!-- table -->
                                <table>
                                    <tbody>
                                    <% for(var i = 0; i < members.length; i++) {
                                            if(members[i].type == "member"){
                                            if(i % 4 == 0)
                                                {%><tr><%}
                                        %>
                                        <td><a href=<%-"/users/"+members[i].id%> class='url'><img alt='avatar' src='/img/dummies/avatar.jpg' class='avatar' /><br><%-members[i].login%></a></td>
                                        <%
                                            if(i % 4 == 3)
                                                {%></tr><%}
                                    }}%>
                                    </tbody>
                                </table>

                                <!-- ENDS table -->
                                <!-- Pagination -->
                                <ul class='pager'>
                                    <li class="first-child"><a href="#">prev</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="last-child"><a href="#">next</a></li>
                                </ul>
                                <!-- ENDS Pagination -->
                            </div>
                            <!-- ENDS users -->
                            <!-- participation -->
                            <div>
                                На жаль, флешмоб вже завершився.
                            </div>
                            <!-- ENDS participation -->

                        </div>
                        <!-- ENDS TABS -->
                    </div>
                </div>
                <p class="clear"></p>
                <!-- ENDS toggle -->

                <!-- tags -->
                <ul class="tags">
                    <li>Tags: </li>
                    <li><a href="#">Вільна участь</a></li>
                    <li><a href="#">м. Київ</a></li>
                    <li><a href="#">Перевізник</a></li>
                </ul>
                <!-- ENDS tags -->


                <!-- comments list -->
                <div class="comments-header"><span class="n-comments">25</span><h6 class="text">КОМЕНТАРІ</h6></div>
                <ol class="comments-list">
                    <% for(var i = 0; i < members.length; i++) {
                            if(members[i].type == "member"){
                            if(i % 4 == 0)
                    {%><tr><%}
                        %>
                        <td><a href=<%-"/users/"+members[i].id%> class='url'><img alt='avatar' src='/img/dummies/avatar.jpg' class='avatar' /><br><%-members[i].login%></a></td>
                        <%
                        if(i % 4 == 3)
                        {%></tr><%}
                    }}%>
                    <% for(var i = 0; i< comments.length; i++){%>
                    <li>
                        <div class="comment-wrap">
                            <img alt='avatar' src='/img/dummies/avatar.jpg' class='avatar' />
                            <div class="comments-right">
                                <div class="meta-date"><%- comments[i].date%></div>
                                <div><a href='profile.html' class='url'><strong><%-comments[i].user_id%></strong></a></div>
                                <div class="brief"><p><%-comments[i].text%></p></div>
                                <a href="#" class="Редагувати-comment">Редагувати</a>
                            </div>
                        </div>
                    </li>
                    <%}%>

                </ol>
                <!-- ENDS comments list -->

                <!-- comments form -->
                <div class="leave-comment">
                    <h3>ЗАЛИШИТИ КОМЕНТАР</h3>
                    <form action=<%-"/flashmobs/"+flashmob.id+"/addcomment"%> method="post" id="commentform">
                        <fieldset>
                            <div>
                                <textarea name="text" id="comment" cols="100" rows="10" tabindex="4" class="form-poshytip" title="Напишіть коментар"></textarea>
                            </div>
                            <p><input type="submit" id="submit" tabindex="5" value="Надіслати" /></p>
                            <p><input type="hidden" name="comment_post_ID" value="51" /></p>
                        </fieldset>
                    </form>
                </div>
                <!-- ENDS comments form -->

            </div>
            <!-- ENDS PAGE-CONTENT -->

        </div>
        <!-- ENDS CONTENT -->

    </div>
    <!-- ENDS MAIN -->
</div>
<a href=<%-"/flashmobs/"+flashmob.id+"/in"%>>Взяти участь</a>
<!-- ENDS WRAPPER -->