<% layout('layout.ejs') %>
			<!-- MAIN -->
		<div id="main">

			<!-- HEADER -->
			<div id="header">
				<div id="page-title">Профіль користувача</div>
				<!-- Breadcrumb-->
				<div id="breadcrumbs">
					Ви тут: 
					<a title="Home" href="#">Головна</a> &raquo; 
					<a title="Features" href="#">Профіль</a>
				</div>
				<!-- ENDS Breadcrumb-->	
			</div>
			<!-- ENDS HEADER -->
			
			<!-- CONTENT -->
			<div id="content">
						
				<!-- PAGE CONTENT -->
				<div id="page-content">
				<div>
					<div align="center">
						<h1><%-user.login%></h1>
					</div>
					<table>
						<tr class="profileViewPart">
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td id="profileAva" rowspan="5"><img src="/img/dummies/116x116.jpg"> <br><br><a href="#">Настроить профиль</a></td>
							<td><%-user.name + "   "+user.surname%></td>
						</tr>
						<tr>
							<td>Дата народження:</td>
						</tr>
						<tr>
							<td> <%-user.birthDate%></td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td></td>
						</tr>
					</table>
					<table id="profileView">
						<tr class="profileViewPart">
							<td><i>Особисті дані</i></td>
							<td></td>
						</tr>
						<tr>
							<td>Дата народження</td>
							<td><%-user.birthDate%></td>
						</tr>
						<tr>
							<td>Стать</td>
							<td><%-user.sex%></td>
						</tr>
						<tr>
							<td>Країна проживання</td>
							<td><%-user.country%></td>
						</tr>
						<tr>
							<td>Місто проживання</td>
							<td><%-user.city%></td>
						</tr>
						<tr>
							<td>Мої захоплення</td>
							<td><%-user.interests%></td>
						</tr>
						<tr class="profileViewPart">
							<td><i>Контактні дані</i></td>
							<td></td>
						</tr>
						<tr>
							<td>Email</td>
							<td><%-user.email%></td>
						</tr>
						<tr>
							<td>Телефон</td>
							<td><%-user.phone%></td>
						</tr>
						<tr>
							<td>Skype</td>
							<td><%-user.skype%></td>
						</tr>
						<tr>
							<td>Інше</td>
							<td><%-user.other%></td>
						</tr>
					</table>
				</div>
					
				</div>
				<!-- ENDS PAGE-CONTENT -->
			
			</div>
			<!-- ENDS CONTENT -->
			
		</div>
		<!-- ENDS MAIN -->